.nested-group input:focus {
  box-shadow: none;
}

.nested-group input:first-child {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.nested-group input {
  margin-left: 0px;
  border-radius: 0px;
}

.nested-group  button {
  margin-left: -5px;
  border-left: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}